.servicii {
  text-align: center;
  padding: 5rem;
  background: #efead6;
  scroll-margin-top: 4rem;
}

.servicii__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-content: center;
  gap: 20px;
}

.servicii__title {
  color: #a86141;
  font-family: Pacifico, cursive;
  font-size: 3.1875rem;
  margin-bottom: 1rem;
  margin-bottom: 60px;
}

.servicii__item {
  background: #000;
}

.servicii__img {
  background: #000;
  width: 300px;
  height: 300px;
  border-radius: 4px;
  transition: 0.2s;
}

.servicii__img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.3);
}
