.header {
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  color: #f9f9f9;
  padding: 1rem 2rem 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.menu {
  width: 20%;
  float: right;
}

.logo {
  width: 30%;
  float: none;
  padding-left: 20px;
}
