.servicii {
  text-align: center;
  padding: 5rem;
  background: #efead6;
}

.servicii__title {
  color: #a86141;
  font-family: Pacifico, cursive;
  font-size: 3.1875rem;
  margin-bottom: 1rem;
  margin-bottom: 60px;
}
